
body {
    background: #f7f7f7; /* Fondo general */
}
.navbar-custom {
    justify-content: space-around;
    align-items: center;
    background: #8b0000; /* Rojo oscuro */
    color: white;
}
.search-bar {
    flex: 0.5;
}
.nav-items {
    flex: 1;
    justify-content: space-around;
    display: flex;
}
.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {
    color: #ffcccb; /* Rojo cálido */
}

.search-bar input {
    max-width: 300px;
    
}

.search-bar .btn-outline-success { 
    border-color: #ffcccb;
    color: #ffcccb;
}

.search-bar .btn-outline-success:hover {
    background-color: #ffcccb;
    color: #8b0000;
}

/* Fondo grisáceo para la sección del carrusel */
.cuerpo {
    background: #e6e6e6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.cuerpo nav {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cuerpo .nav-items a {
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: #8b0000;
}

.cuerpo .nav-items img {
    max-height: 150px;
    width: auto;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Carrusel */
.carousel-inner img {
    max-height: 200px;
    width: auto;
    object-fit: cover;
    margin: 5px;
    border-radius: 8px;
}

.carousel-inner {
    padding: 20px;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #218838;
  }
  
  #results-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
  }
  
  #results-list li {
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 18px;
  }
  