body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Proyecto/img/fondo2.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);   /* Desenfoque */
    z-index: 0;
}

.register-container {
    position: relative;
    z-index: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}
.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.register-text{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.register-text .register-link{
    color: #b62727;
    text-decoration: none;
    font-weight: bold;
}

.register-text .register-link:hover{
    text-decoration: underline;
    color: #570303;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form-group input {
    width: 95%;             /*ancho*/
    padding: 10px;
    border: 1px solid #570303;
    border-radius: 5px;
    font-size: 16px;
}
.form-group input:focus {
    border-color: #be0c0c;
    outline: none;
}
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8f3131;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    background-color: #8b0000;
}


